.controller-container {
   width: 100%;
   margin: auto;
   height: 150px;
   position: absolute;
   bottom: 0;
   left: 0;
   box-shadow: inset 0px 5px 20px -5px grey;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.call-initiate-container {
   width: 30%;
   margin: auto;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.controller-icons-container {
   width: 30%;
   margin: auto;
   height: 100%;

   display: flex;
   justify-content: space-around;
   align-items: center;
}
